services:
  rabbit:
    image: rabbitmq:management
    hostname: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    healthcheck:
      test: rabbitmq-diagnostics check_port_connectivity
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 10s
    extends: 
      file: common-config.yml
      service: network-deploy-service

  configserver:
    depends_on:
      rabbit:
        condition: service_healthy
    image: "karma21/configserver:s6"
    container_name: configserver-ms
    ports:
      - "8071:8071"
    healthcheck:
      test: "curl --fail --silent http://localhost:8071/actuator/health/readiness | grep UP || exit"
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 10s
    extends: 
      file: common-config.yml
      service: microservice-base-config

  accounts:
    image: "karma21/accounts:s6"
    container_name: accounts-ms
    ports:
      - "8080:8080"
    environment:
      SPRING_APPLICATION_NAME: "accounts"
    extends: 
      file: common-config.yml
      service: microservice-configserver-config

  loans:
    image: "karma21/loans:s6"
    container_name: loans-ms
    ports:
      - "8090:8090"
    environment:
      SPRING_APPLICATION_NAME: "loans"
    extends: 
      file: common-config.yml
      service: microservice-configserver-config

  cards:
    image: "karma21/cards:s6"
    container_name: cards-ms
    ports:
      - "9000:9000"
    environment:
      SPRING_APPLICATION_NAME: "cards"
    extends: 
      file: common-config.yml
      service: microservice-configserver-config

networks:
  eazyBank:
    driver: bridge